<body>
  <nav class="nav-extended grey darken-3">
    <div class="nav-background">
      <div class="pattern active" style="background-image: url('http://i.imgur.com/7Il5O29.png');"></div>
    </div>
    <div class="nav-wrapper container">
      <%= link_to root_path do %>
        <%= image_tag "UEFA.png", class: "brand-logo" %>
      <% end %>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><%= link_to "My Slideshows", root_path %></li>
        <li><a class='dropdown-button' href='#' data-activates='feature-dropdown' data-belowOrigin="true" data-constrainWidth="false">Bill Hewitt<i class="material-icons right">arrow_drop_down</i></a></li>
      </ul>
      <!-- Dropdown Structure -->
      <ul id='feature-dropdown' class='dropdown-content'>
        <li><%= link_to "My Account", pages_myaccount_path %></li>
        <li><a href="horizontal.html">Logout</a></li>
      </ul>

      <div class="nav-header center">
        <h1>#GIGGSHOUR</h1>
        <div class="tagline"><i class="fa ellipses-h"></i></div>
      </div>
    </div>

    <!-- Fixed Masonry Filters -->

    <div class="nav-content grey darken-4">
      <div class="container">
        <ul class="tabs tabs-transparent">
          <li class="tab"><a class="active" href="#test1">Moderate</a></li>
          <li class="tab"><a href="#test2">Settings</a></li>
        </ul>
    </div>
    </nav>

  </nav>
  <ul class="side-nav" id="nav-mobile">
    <li><%= link_to root_path, id: "logo" do %>
        <i class="material-icons">theaters</i>
        My Slideshows
        <% end %>
    </li>
    <li><%= link_to pages_myaccount_path, id: "logo" do %>
        <i class="material-icons">perm_identity</i>
        My Account
        <% end %>
    </li>
    <li><%= link_to root_path, id: "logo" do %>
        <i class="material-icons">settings_power</i>
        Logout
        <% end %>
    </li>
  </ul>

  <!-- End Navigation -->

  <!-- Start Background -->

   <div id="portfolio" class="section gray fullpage">
      <div class="container">

        <div id="test1" class="col s12"><!-- Start Moderation tab -->
          <br>

            <div class="row">
              <div class="col s12 m6 l4">
                <div class="card">
                  <div class="card-image">
                    <img src="http://placehold.it/400x300">
                    <a class="btn-floating btn halfway-fab waves-effect waves-light green"><i class="material-icons">done</i></a>
                  </div>
                  <div class="card-content">
                    <span class="card-title">Visible On Slideshow</span>
                  </div>
                </div>
              </div>

              <div class="col s12 m6 l4">
                <div class="card">
                  <div class="card-image">
                    <img src="http://placehold.it/400x300">
                    <a class="btn-floating btn halfway-fab waves-effect waves-light green"><i class="material-icons">done</i></a>
                  </div>
                  <div class="card-content">
                    <span class="card-title">Visible On Slideshow</span>
                  </div>
                </div>
              </div>

              <div class="col s12 m6 l4">
                <div class="card">
                  <div class="card-image">
                    <img src="http://placehold.it/400x300">
                    <a class="btn-floating btn halfway-fab waves-effect waves-light green"><i class="material-icons">done</i></a>
                  </div>
                  <div class="card-content">
                    <span class="card-title">Visible On Slideshow</span>
                  </div>
                </div>
              </div>

              <div class="col s12 m6 l4">
                <div class="card">
                  <div class="card-image">
                    <img src="http://placehold.it/400x300">
                    <a class="btn-floating btn halfway-fab waves-effect waves-light red"><i class="material-icons">visibility_off</i></a>
                  </div>
                  <div class="card-content">
                    <span class="card-title">Hidden From Slideshow</span>
                  </div>
                </div>
              </div>

              <div class="col s12 m6 l4">
                <div class="card">
                  <div class="card-image">
                    <img src="http://placehold.it/400x300">
                    <a class="btn-floating btn halfway-fab waves-effect waves-light green"><i class="material-icons">done</i></a>
                  </div>
                  <div class="card-content">
                    <span class="card-title">Visible On Slideshow</span>
                  </div>
                </div>
              </div>

              <div class="col s12 m6 l4">
                <div class="card">
                  <div class="card-image">
                    <img src="http://placehold.it/400x300">
                    <a class="btn-floating btn halfway-fab waves-effect waves-light red"><i class="material-icons">visibility_off</i></a>
                  </div>
                  <div class="card-content">
                    <span class="card-title">Hidden From Slideshow</span>
                  </div>
                </div>
              </div>

              <div class="col s12 m6 l4">
                <div class="card">
                  <div class="card-image">
                    <img src="http://placehold.it/400x300">
                    <a class="btn-floating btn halfway-fab waves-effect waves-light red"><i class="material-icons">visibility_off</i></a>
                  </div>
                  <div class="card-content">
                    <span class="card-title">Hidden From Slideshow</span>
                  </div>
                </div>
              </div>

              <div class="col s12 m6 l4">
                <div class="card">
                  <div class="card-image">
                    <img src="http://placehold.it/400x300">
                    <a class="btn-floating btn halfway-fab waves-effect waves-light green"><i class="material-icons">done</i></a>
                  </div>
                  <div class="card-content">
                    <span class="card-title">Visible On Slideshow</span>
                  </div>
                </div>
              </div>

              <div class="col s12 m6 l4">
                <div class="card">
                  <div class="card-image">
                    <img src="http://placehold.it/400x300">
                    <a class="btn-floating btn halfway-fab waves-effect waves-light red"><i class="material-icons">visibility_off</i></a>
                  </div>
                  <div class="card-content">
                    <span class="card-title">Hidden From Slideshow</span>
                  </div>
                </div>
              </div>



            





            </div>

            <ul class="pagination center-align">
              <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
              <li class="active blue"><a href="#!">1</a></li>
              <li class="waves-effect"><a href="#!">2</a></li>
              <li class="waves-effect"><a href="#!">3</a></li>
              <li class="waves-effect"><a href="#!">4</a></li>
              <li class="waves-effect"><a href="#!">5</a></li>
              <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
            </ul>

            <br>
            <br>



        </div><!-- End Moderation tab -->
        <div id="test2" class="col s12"><!-- Start Settings tab -->

        <br>

          <ul class="collapsible collapsible-accordion" data-collapsible="accordion">
          <li class="">
            <div class="collapsible-header"><i class="material-icons">mode_edit</i>Slideshow Design</div>
            <div class="collapsible-body" style="display: none;"><span>
              Choose which design you'd like to use on the slideshow

            </span></div>
          </li>
          <li class="">
            <div class="collapsible-header"><i class="material-icons">computer</i>Display Options</div>
            <div class="collapsible-body" style="display: none;"><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</span></div>
          </li>
          <li>
            <div class="collapsible-header"><i class="material-icons">info_outline</i>Information Message</div>
            <div class="collapsible-body"><span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</span></div>
          </li>
        </ul>
        <br>
        <div class="row button">
            <div class="input-field col s12 m12 l12">
              <div class="right">
              <a class="waves-effect waves-blue btn-flat">Preview</a>
                <a class="waves-effect waves-light btn blue">Save</a>
              </div>
            </div>
          </div>



        </div><!-- End Settings tab -->


          <div class="fixed-action-btn click-to-toggle">
            <a class="btn-floating btn-large blue">
              <i class="large material-icons">menu</i>
            </a>
            <ul>
              <li><a class="btn-floating tooltipped green" data-position="left" data-delay="50" data-tooltip="Approve All Posts"><i class="material-icons">done</i></a></li>
              <li><a class="btn-floating tooltipped red" data-position="left" data-delay="50" data-tooltip="Hide All Posts"><i class="material-icons">visibility_off</i></a></li>
              <li><a class="btn-floating tooltipped yellow" data-position="left" data-delay="50" data-tooltip="Download All Posts"><i class="material-icons""><i class="material-icons">file_download</i></a></li>
              <li><a class="btn-floating tooltipped grey darken-2" data-position="left" data-delay="50" data-tooltip="Launch Slideshow"><i class="material-icons""><i class="material-icons">launch</i></a></li>
            </ul>
          </div>
      

      </div>
    </div>



  <script type="text/javascript">
   $(".button-collapse").sideNav();

    $(document).ready(function(){
    // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
    $('.modal').modal();
  });

      $(document).ready(function(){
    $('.tooltipped').tooltip({delay: 50});
  });

      $(document).ready(function(){
    $('.collapsible').collapsible();
  });
</script>